/* Fondo degradado color madera (Roble cálido) */
ion-content {
  --background: linear-gradient(135deg, #d4a373 0%, #a87b51 100%); 
}

/* El truco para centrar todo en la pantalla */
.contenedor-centrado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; 
  padding: 20px; 
}

/* Cajas de texto blancas y flotantes */
.input-madera {
  margin-bottom: 20px;
  --border-radius: 8px;
  --background: #ffffff; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra elegante */
  
  /* ---> ESTAS SON LAS LÍNEAS QUE AGREGAMOS PARA EL COLOR CAFÉ <--- */
  
  /* Color del texto del label ("Correo Electrónico") */
  ion-label {
    color: #5C4033 !important;
  }
  
  /* Color del texto que escribe el usuario */
  ion-input {
    color: #5C4033 !important;
    font-weight: 500;
  }
  
  /* ------------------------------------------------------------------ */
}

/* Botón principal color madera oscura (Caoba) */
.btn-madera {
  --background: #5C4033; 
  --background-hover: #3e2b22;
  --border-radius: 8px;
  color: white;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Botón de texto inferior */
.btn-madera-texto {
  --color: #ffffff; /* Letras blancas para que resalten en el fondo madera */
  font-weight: bold;
}