<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div class="contenedor-centrado"> <ion-item class="input-madera"> <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="credenciales.correo"></ion-input>
    </ion-item>
  

    <ion-item class="input-madera"> <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="credenciales.password"></ion-input>
    </ion-item>

    <ion-button expand="block" class="btn-madera ion-margin-top" (click)="login()">
      Entrar
    </ion-button>

    <ion-button expand="block" fill="clear" class="btn-madera-texto" routerLink="/register">
      ¿No tienes cuenta? Regístrate
    </ion-button>
    
  </div>
</ion-content>