ion-content {
  --background: var(--ion-background-color);
}

.product-card {
  background-color: var(--mueblexi-card-background);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  margin-bottom: 20px;
  overflow: hidden; /* Para que la imagen respete el borde redondeado */
}

.image-container {
  width: 100%;
  height: 180px;
  background-color: #555; /* Fondo mientras carga */
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen llene el espacio sin deformarse */
  }
}

.product-name {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.price-label {
  color: #bbbbbb;
  font-size: 0.9rem;
}

.price-value {
  color: var(--ion-color-primary); /* Color Naranja/Marrón */
  font-size: 1.3rem;
  font-weight: bold;
}

.detail-btn {
  --border-radius: 8px;
  font-weight: 600;
}