<ion-content class="login-content">

  <div class="login-container">

    <h1 class="logo">Mueblexi</h1>

    <ion-item class="input-item">
      <ion-input placeholder="Correo electrónico" type="email"></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-input placeholder="Contraseña" type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" class="login-button">
      Iniciar sesión
    </ion-button>

    <ion-button
  fill="clear"
  class="register-button"
  routerLink="/register">
  Registrarse
    </ion-button>


  </div>

</ion-content>
