ion-content { --background: var(--ion-background-color); }

.product-image {
  width: 100%;
  height: 40vh;
  img { width: 100%; height: 100%; object-fit: cover; }
}

.detail-container {
  background-color: var(--mueblexi-card-background);
  min-height: 65vh;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -30px;
  position: relative;
  padding: 30px 20px;
}

.product-title { font-size: 1.8rem; font-weight: 800; color: white; margin: 0; }
.product-price { font-size: 1.5rem; color: var(--ion-color-primary); margin-top: 5px; }
.description-section { color: #dddddd; margin-top: 20px; margin-bottom: 30px; }
.history-btn { --border-radius: 12px; height: 50px; font-weight: bold; }