/* ===== CONTENEDOR GENERAL ===== */
.register-content {
  --background: #f7f2ec;
}

.register-container {
  max-width: 380px;
  margin: auto;
  margin-top: 70px;
  text-align: center;
}

/* ===== TÍTULO ===== */
.title {
  color: #8b5a2b;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 35px;
}

/* ===== INPUTS ===== */
.input-box {
  --background: transparent;
  border: 2px solid #8b5a2b;
  border-radius: 12px;
  margin-bottom: 20px;
  padding-left: 10px;
}

ion-input {
  color: #8b5a2b;
  --placeholder-color: #b08a6a;
}

/* ===== SELECTOR CLIENTE / VENDEDOR ===== */
.role-selector {
  display: flex;
  border-radius: 16px;
  overflow: hidden;
  margin: 25px 0;
  border: 2px solid #8b5a2b;
}

.role {
  flex: 1;
  padding: 14px;
  background: transparent;
  border: none;
  color: #8b5a2b;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.role.active {
  background: linear-gradient(135deg, #8b5a2b, #6d3f1d);
  color: white;
}

/* ===== BOTÓN REGISTRARSE ===== */
.register-button {
  --background: linear-gradient(135deg, #8b5a2b, #6d3f1d);
  --border-radius: 16px;
  height: 52px;
  font-size: 18px;
  margin-top: 20px;
}
.back-login {
  margin-top: 16px;
  color: #8b4f1d;
  font-weight: 500;
}
